.button-component {
  border: 1px solid var(--global-gray-color-1);
  border-radius: 5px;
  width: 120px;
  height: 25px;
  background-color: var(--global-gray-color-2);
  box-shadow: inset 0px -1px 2px 0px #00000099;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.button-component:hover {
  transform: scale(1.05);
}
.button-component--active {
  background-color: var(--global-primary-color-1);
  color: white;
}
