.search-component__filter-input {
  display: flex;
  flex-direction: column;
}
.search-component__filter-input > span {
  text-align: left;
  color: var(--global-black-color-3);
  font-size: 12px;
  margin: 20px 0;
  font-weight: bold;
}
.seach-component__filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
