.search-component__filter-input {
  display: flex;
  flex-direction: column;
}
.search-component__filter-input > span {
  text-align: left;
  color: var(--global-black-color-3);
  font-size: 12px;
  margin: 20px 0;
  font-weight: bold;
}
.search-component__filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-component__controls {
  display: flex;
  gap: 50px;
}

@media (max-width: 768px) {
  .search-component__controls {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .search-component__filter-button > h3 {
    font-size: 18px;
  }
}
