.country-card__container {
  min-width: 200px;
  min-height: 100px;
  background-color: var(--global-white-color-2);
  padding: 10px;
  border: 2px solid var(--global-black-color-3);
  border-radius: 4px;
  opacity: 1;
  display: block;
  transition: all 0.2s linear;
}
.country-card__header {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: min-content;
  width: 100%;
}

.country-card__header-left {
  height: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.country-card__filter {
  text-decoration: underline;
}

.country-card__header-right {
  font-weight: bold;
}

.country-card__header-left > h4 {
  padding: 0;
  margin: 0;
}
.country-card__header-left > span {
  display: flex;
  align-items: center;
  height: 15px;
}
.country-card__header-left > span > img {
  height: 100%;
}

.country-card__left {
  height: 15px;
}

.country-card__information {
  border-top: 0.5px solid var(--global-black-color-1);
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  color: var(--global-black-color-2);
}

.country-card__information > span:nth-child(1) {
  font-weight: bold;
}
